{% extends 'classes/layout.html' %}

{% block content %}

<ul class ="collection">
    {% for classe in classes %}
        {% if classe.course == None %}
            <a href="/classes" class="btn">Go back</a>
        {% endif %}
        <li class="collection-item"><a href="/classes/details/{{classe.id}}">{{classe.course}} {{classe.number}} {{classe.title}} {{classe.section}} {{classe.building}} {{classe.room}}</a></li>
    {% endfor %}
</ul>
<a href="/classes" class="btn">Go back</a>
{% endblock %}
