{% extends 'classes/layout.html' %}

{% block content %}
<script>
    var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    if(width < 720){
        console.log(width);
        document.getElementById("sideOverlay").style.marginRight = "4px";
        document.getElementById("sideOverlay").style.marginLeft = "4px";
    }
</script>
<div id="resultList" style="margin-left:10%; margin-right:10%; margin-bottom: 20px;">
    <div style="clear: both">
        <h5 style="color: white; display:inline;">Results for:</h5>
        <h6 style="color: white; display:inline;">" {{q}} {{d}} {{t}}"</h6>
    </div>
    <hr />
<ul class ="collection">
    {% if buildings %}
        {% for b in buildings %}
          <li class="collection-item"><a href="/buildings/{{b}}">{{b}} {{b.names|last}}</a></li>
        {% endfor %}
    {% endif %}
    {% if classes %}
        {% for c in classes %}
            <li class="collection-item"><a href="/courses/{{c.pk}}">{{c}} {{c.title}} {{c.section}}</a></li>
        {% endfor %}
    {% endif %}
    {% if not classes and not buildings %}
        <img src="../../static/classes/images/calvinandhobbes.png" alt="NotFound" class="center" style="width:100%;">
    {% endif %}
</ul>
<a href="/" class="btn">New Search</a>
</div>
{% endblock %}
